.sneakers-page {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.sneakers {

    display: inline-block;
    width: 350px;
    height: 350px;
    border-radius: 5%;
    overflow: hidden;
}

.products {

    width: 40%;
    margin-left: 5%;
}


.product-info {
    width: 60%;
    margin-right: 15%;
    margin-left: 10%;
}


.sneakers img {

    width: 100%;
    height: 100%;
    cursor: pointer;
}

h4 {
    color: var(--primary-color);
    font-weight: 400;
}

.thumbnail {

    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 5%;
    overflow: hidden;
}

.thumbnail img {

    width: 100%;
    height: 100%;
}

.thumbnail-img ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    
  }

  .activee {
    border: 2px solid var(--primary-color);
    opacity: 50%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .button-area {

    display: flex;
    justify-content: flex-start;
    margin-right: 5px; 
    margin-top: 30px; 
  }

  .button-area button {
    width: 60%; 
  }

   .cart-item-add, .button-area.btn  {
    margin-left: 20px;
  }
    
  .buttons {
    width: 35%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;

  }

  .cart-item-remove, .cart-item-add  {
  
    
    border-radius: 8px;
    border-width: 0;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.buttons span {
    
    line-height: 50px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

.cart-btn {
    background: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1em;
    border: 1px solid var(--primary-color);
    margin-left: 20px;
  }
  .cart-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
  }

  .price {

    display: flex;
    justify-content: flex-start;
    
  }

  .main-price {

    opacity: 0.3;
    margin-top: -10px;
    font-size: small;
    text-decoration: line-through;
  }

  .item-price {

    font-size: larger;
    font-weight: 600;
  }

  .item-discount {

    background-color: #f6dfcf;
    color: var(--primary-color);
    border-radius: 6px;
    width: 50px;
    font-size: small;
    text-align: center;
    line-height: 30px;

  }
  
