.sneakers-page {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.sneakers {

    display: inline-block;
    width: 350px;
    height: 350px;
    border-radius: 5%;
    overflow: hidden;
}

.products {

    width: 40%;
    margin-left: 5%;
}


.product-info {
    width: 60%;
    margin-right: 2%;
}


.sneakers img {

    width: 100%;
    height: 100%;
}

h4 {
    color: var(--primary-color);
}

.thumbnail {

    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 5%;
    overflow: hidden;
}

.thumbnail img {

    width: 100%;
    height: 100%;
}

.thumbnail-img ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    
  }