.header {

    border-bottom: 1px solid rgb(192, 188, 188);
    width: 100%;
    padding-bottom: 5px;
     
}

.sneakers {

    display: inline-block;
    width: 350px;
    height: 350px;
    border-radius: 5%;
    overflow: hidden;
}

.cartmodal-backdrop {
    position: fixed;
    top: 100px;
    right: 0;
    width: 30%;
    height: max-content;
    background: rgb(244, 242, 242);
    border-radius: 3%;
  }


  .cartmodal-image {

    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 5%;
    overflow: hidden;
}
  

  .cart-modal {
    padding: 20px;
    max-width: 100%;
    margin: 15px auto;
    background: transparent;
    border-radius: 20px;

  }

  .cart-modal img {

    width: 100%;
    height: 100%;
}

.cartmodal-backdrop img {

    color: white;
  }

  .cart-container {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .cartmodal-backdrop button {

    width: 100%;
  }

  .details {

    display: flex;
    justify-content: space-between;
  }

  .cart-icon {

    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 0%;
    overflow: hidden;
    background: rgb(244, 242, 242);
    align-items: center;
    justify-items: flex-start;

  }

  .cart-icon img {
    width: 20%;
    height: 25%;
    cursor: pointer;
  }


  .cart-sneakers {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 15%;
    overflow: hidden;
  }

  .details img {

    width: 50px;
    height: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
  }

  .items {

    color: grey;
    font-size: small;
  }

  .items span {

    color: black;
    font-weight: 500;
  }

  .cart-message {

    text-align: center;
    margin-left: 25%;
    margin-top: 10%;
  }
  

  


 
 