
.navbar {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    margin-bottom: 80px;
    border-bottom: 1px solid rgb(137, 129, 129);

  }
  .navbar ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
    
   
  }
  .navbar .logo {
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .navbar .nav-links {
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: 450px;
    color: var(--heading-color);  
     
  }

  .avatar {

    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.avatar:hover {
  
  border: 2px solid var(--primary-color);
}

.avatar img {

    width: 100%;
    height: 100%;
}

.navbar a {
    color: #333;
    text-decoration: none;

  }

  .cart span {

    padding: 0 6px;
    position: relative;
    top: 2px;
    border-radius: 5px;
    color: #fff;
    background: var(--primary-color); 
    cursor: pointer;
    
  }

  .navbar a.active {

    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 52px ;
    
  }
